# Desafío

- Descargar el archivo estudiantes.csv y el notebook.OK
- Abrir el entorno virtual creado la sesión anterior, en la ruta en que descargó los archivos.**OK**
- Abrir jupyter notebook.**OK**
- Cargar el notebook.**OK**
- Llevar a cabo el taller práctico
- Respaldar el cuaderno en GitHub.**OK**

## Parte 1: Exploración Inicial

- Visualice el DataFrame completo. **OK**
- Use df.head() para observar las primeras filas y df.tail() para las últimas filas. **OK**
- Obtenga información general sobre los datos: **Número de filas y columnas.** Tipos de datos y si hay valores faltantes. Calcule un resumen estadístico de las columnas numéricas. **OK**

In [3]:
import pandas as pd
import numpy as np

df = pd.read_csv('../data/estudiantes_notas.csv')
print("1:",df)
#print("1.1",df.info())
#print("2:",df.head())#Primeras 5 filas
#print("3:",df.tail())#ultimas 5 filas
#print("4:",df.describe())#Resumen estadistico
#print("5.-",df.describe(include='all'))#Se ve igual al anterior a simple vista

1:      Estudiante_ID  Nota_Matemáticas  Nota_Lenguaje  Nota_Ciencias
0                1             38.08          70.12          19.33
1                2             95.12          54.07          54.65
2                3             73.47          31.64          87.42
3                4             60.27          81.57          73.49
4                5             16.45          68.79          80.85
..             ...               ...            ...            ...
495            496             35.98          10.07          67.15
496            497             58.78          91.81          62.33
497            498              8.70          14.55          46.89
498            499             97.47          95.07          38.60
499            500             98.63          45.15          86.47

[500 rows x 4 columns]

## Parte 2: Filtrado de Datos

- Seleccione los estudiantes mayores de 25 años.**OK**
- Filtre los estudiantes que tengan más de 90 en Matemáticas.**OK**
- Encuentre los estudiantes de la comuna "Coronel" que tengan un promedio de notas mayor a 85.**OK**

In [20]:
datos = {
    'Nombre': ['Ana', 'Luis', 'Pedro', 'Marta'],
    'Edad': [23, 34, 29, 40],
    'Notas': [8.5, 8.5, 7.5, 8.0]
}
df_2 = pd.DataFrame(datos)
#print("Estudiantes mayores de 25 años:")
#print(df_2[df_2['Edad'] > 25])
#Volvemos al archivo
#print("Filtre los estudiantes que tengan más de 90 en Matemáticas")
#print(df[df['Nota_Matemáticas']>90])

datos_2= {
    "Estudiante_ID": np.arange(1, 10001),  # Identificadores únicos
    "Edad": np.random.randint(18, 30, 10000),
    "Nota_Mat": np.random.randint(1, 100, 10000),  # Notas entre 1 y 100
    "Nota_Leng": np.random.randint (1, 100, 10000),  # Notas entre 1 y 100
    "Nota_CS": np.random.randint (1, 100, 10000),  # Notas entre 1 y 100
    "Genero": np.random.choice(['femenino', 'masculino', 'prefiero no decirlo'], 10000),  # Género aleatorio
    "Comuna": np.random.choice(['Coronel', 'Lota', 'Concepción', 'Hualpén', 'Tomé', 'Penco', 'Arauco','San Pedro'], 10000),
}


df_3 =  pd.DataFrame(datos_2)

print("Estudiantes mayores de 25 años:")
print(df_3[df_3['Edad'] > 25])
print("Filtre los estudiantes que tengan más de 90 en Matemáticas")
print(df_3[df_3['Nota_Mat']>90])
#Encuentre los estudiantes de la comuna "Coronel" que tengan un promedio de notas mayor a 85(4.25).
df_3['Promedio'] = df_3[['Nota_Mat', 'Nota_Leng', 'Nota_CS']].mean(axis=1)
print(df_3[(df_3['Promedio']>85)&(df_3['Comuna']=='Coronel')])

Estudiantes mayores de 25 años:
      Estudiante_ID  Edad  Nota_Mat  Nota_Leng  Nota_CS               Genero  \
1                 2    28        12         48       59             femenino
5                 6    29        55         83       57            masculino
9                10    26        39         28       53            masculino
11               12    27        98         21       95  prefiero no decirlo
13               14    27        77          9       84  prefiero no decirlo
...             ...   ...       ...        ...      ...                  ...
9983           9984    28        20          2       20  prefiero no decirlo
9984           9985    27         9         99        3             femenino
9992           9993    26        61         10       37  prefiero no decirlo
9996           9997    26        93         38        3            masculino
9999          10000    26        16         55        4  prefiero no decirlo

          Comuna
1           Tomé
5      San Pedro
9     Concepción
11        Arauco
13       Coronel
...          ...
9983       Penco
9984   San Pedro
9992     Coronel
9996      Arauco
9999  Concepción

[3263 rows x 7 columns]
Filtre los estudiantes que tengan más de 90 en Matemáticas
      Estudiante_ID  Edad  Nota_Mat  Nota_Leng  Nota_CS               Genero  \
11               12    27        98         21       95  prefiero no decirlo
18               19    22        98         49        2            masculino
22               23    25        93         13       99             femenino
31               32    26        95         33       30             femenino
69               70    24        93         68       79            masculino
...             ...   ...       ...        ...      ...                  ...
9944           9945    25        92         69       30             femenino
9945           9946    28        92         59       54            masculino
9956           9957    24        97         78       36            masculino
9963           9964    22        97         24       91             femenino
9996           9997    26        93         38        3            masculino

          Comuna
11        Arauco
18          Lota
22         Penco
31        Arauco
69    Concepción
...          ...
9944        Lota
9945  Concepción
9956        Tomé
9963  Concepción
9996      Arauco

[992 rows x 7 columns]
      Estudiante_ID  Edad  Nota_Mat  Nota_Leng  Nota_CS               Genero  \
2805           2806    19        89         92       95            masculino
2914           2915    21        96         67       96            masculino
3219           3220    22        85         81       95            masculino
3279           3280    28        84         97       84            masculino
3555           3556    22        84         91       87            masculino
3582           3583    20        86         88       99            masculino
3823           3824    26        98         64       95  prefiero no decirlo
4278           4279    27        93         80       96            masculino
4638           4639    29        81         87       96            masculino
5149           5150    29        96         61       99  prefiero no decirlo
5552           5553    25        89         94       97             femenino
5890           5891    21        99         82       89             femenino
6420           6421    29        96         82       90  prefiero no decirlo
6564           6565    24        74         96       97  prefiero no decirlo
6593           6594    22        97         91       84            masculino
7213           7214    25        82         98       95             femenino
8429           8430    25        76         93       94            masculino
9008           9009    19        93         95       98            masculino
9192           9193    19        99         90       77             femenino

       Comuna   Promedio
2805  Coronel  92.000000
2914  Coronel  86.333333
3219  Coronel  87.000000
3279  Coronel  88.333333
3555  Coronel  87.333333
3582  Coronel  91.000000
3823  Coronel  85.666667
4278  Coronel  89.666667
4638  Coronel  88.000000
5149  Coronel  85.333333
5552  Coronel  93.333333
5890  Coronel  90.000000
6420  Coronel  89.333333
6564  Coronel  89.000000
6593  Coronel  90.666667
7213  Coronel  91.666667
8429  Coronel  87.666667
9008  Coronel  95.333333
9192  Coronel  88.666667

## Parte 3: Agrupamiento y Agregación

- Promedio de notas por género: ** Calcule el promedio de las notas en Matemáticas, Lenguaje y Ciencias agrupado por género.
- Número de estudiantes por comuna: ** Muestre cuántos estudiantes hay en cada comuna.
- Máxima nota en cada asignatura por comuna: ** Encuentre la nota más alta en Matemáticas, Lenguaje y Ciencias agrupada por comuna.

In [21]:
#Promedio de notas por género: ** Calcule el promedio de las notas en Matemáticas, Lenguaje y Ciencias agrupado por género.
tabla_pivot_promedio_x_genero = df_3.pivot_table(values=['Nota_Mat', 'Nota_Leng', 'Nota_CS'], index="Genero", aggfunc="mean")
print("Tabla pivot con promedio por Genero:\n", tabla_pivot_promedio_x_genero)
#Número de estudiantes por comuna: ** Muestre cuántos estudiantes hay en cada comuna.
tabla_pivote_conteo_x_comuna = pd.pivot_table(df_3, values="Estudiante_ID", index="Comuna", aggfunc="count")
print("\nTabla pivot con conteo de estudiantes por comuna:\n", tabla_pivote_conteo_x_comuna)
#Máxima nota en cada asignatura por comuna: ** Encuentre la nota más alta en Matemáticas, Lenguaje y Ciencias agrupada por comuna.
tabla_pivote_maximos_x_comuna = df_3.pivot_table(values=['Nota_Mat', 'Nota_Leng', 'Nota_CS'], index="Comuna", aggfunc="max")
print("\nTabla pivot con notas maximas por comuna:\n",tabla_pivote_maximos_x_comuna)

Tabla pivot con promedio por Genero:
                        Nota_CS  Nota_Leng   Nota_Mat
Genero
femenino             50.636999  50.417983  50.009417
masculino            50.510448  49.423582  50.770149
prefiero no decirlo  49.651578  49.386837  50.902621

Tabla pivot con conteo de estudiantes por comuna:
             Estudiante_ID
Comuna
Arauco               1274
Concepción           1292
Coronel              1202
Hualpén              1254
Lota                 1180
Penco                1259
San Pedro            1262
Tomé                 1277

Tabla pivot con notas maximas por comuna:
             Nota_CS  Nota_Leng  Nota_Mat
Comuna
Arauco           99         99        99
Concepción       99         99        99
Coronel          99         99        99
Hualpén          99         99        99
Lota             99         99        99
Penco            99         99        99
San Pedro        99         99        99
Tomé             99         99        99

## Parte 4: Creación de Nuevas Columnas

- Calcule el promedio de notas por estudiante: ** Crear una nueva columna Promedio_Notas con el promedio de Matemáticas, - Lenguaje y Ciencias.
- Crear una columna Rango_Edad: ** Clasifica a los estudiantes como "Mayor de 25" o "Menor de 25".
Filtrar a los estudiantes con un promedio de notas mayor a 90 y clasifícarlos por rango de edad.

In [35]:
#Calcule el promedio de notas por estudiante: ** Crear una nueva columna Promedio_Notas con el promedio de Matemáticas, - Lenguaje y Ciencias.
#print("Dataframe ya poseia de antes el promedio de notas por estudiante:",df_3)
#Crear una columna Rango_Edad: ** Clasifica a los estudiantes como "Mayor de 25" o "Menor de 25". Filtrar a los estudiantes con un promedio de notas mayor a 90 y clasifícarlos por rango de edad.
def clasificar_edad(edad):
    if edad >= 25:
        return 'Mayor o igual de 25 años'
    else:
        return 'Menor de 25'


df_3['Rango_Edad'] = df_3['Edad'].apply(clasificar_edad)
print("Clasifica a los estudiantes como Mayor de 25 o Menor de 25:\n",df_3)
df_notas_may_90 = df_3[df_3['Promedio'] > 90]

Clasifica a los estudiantes como Mayor de 25 o Menor de 25:
       Estudiante_ID  Edad  Nota_Mat  Nota_Leng  Nota_CS               Genero  \
0                 1    21        21         80       89             femenino
1                 2    28        12         48       59             femenino
2                 3    22        18         93       84            masculino
3                 4    20        82         22       11            masculino
4                 5    20        41         26       61  prefiero no decirlo
...             ...   ...       ...        ...      ...                  ...
9995           9996    22        43          4       97            masculino
9996           9997    26        93         38        3            masculino
9997           9998    18        27          7       55  prefiero no decirlo
9998           9999    22        78         73        5            masculino
9999          10000    26        16         55        4  prefiero no decirlo

          Comuna   Promedio                Rango_Edad
0          Penco  63.333333               Menor de 25
1           Tomé  39.666667  Mayor o igual de 25 años
2        Coronel  65.000000               Menor de 25
3          Penco  38.333333               Menor de 25
4        Coronel  42.666667               Menor de 25
...          ...        ...                       ...
9995  Concepción  48.000000               Menor de 25
9996      Arauco  44.666667  Mayor o igual de 25 años
9997        Tomé  29.666667               Menor de 25
9998      Arauco  52.000000               Menor de 25
9999  Concepción  25.000000  Mayor o igual de 25 años

[10000 rows x 9 columns]

## Parte 5: Ordenamiento y Selección

- Ordena los datos: ** Muestre el DataFrame ordenado por Promedio_Notas de forma descendente.
- Seleccione columnas específicas: ** Muestre únicamente las columnas Estudiante_ID, Edad y Promedio_Notas.

In [41]:
#Ordena los datos: ** Muestre el DataFrame ordenado por Promedio_Notas de forma descendente.
print("\nOrden de dataframe:\n",df_3.sort_values(by='Promedio', ascending=False))
#Seleccione columnas específicas: ** Muestre únicamente las columnas Estudiante_ID, Edad y Promedio_Notas.
df_sel_cols= df_3[['Estudiante_ID', 'Edad', 'Promedio']]
print("\n\nSeleccion de columnas:\n",df_sel_cols)

Orden de dataframe:
       Estudiante_ID  Edad  Nota_Mat  Nota_Leng  Nota_CS               Genero  \
4082           4083    29        96         97       99             femenino
6237           6238    24        98         96       98  prefiero no decirlo
3795           3796    25        98         94       98             femenino
2743           2744    26        93         97       97            masculino
1662           1663    25        95         96       95             femenino
...             ...   ...       ...        ...      ...                  ...
1301           1302    23         3          1       14  prefiero no decirlo
9909           9910    27         3          4       10  prefiero no decirlo
5688           5689    24        12          3        2  prefiero no decirlo
8450           8451    25         3          7        7             femenino
2999           3000    23         4          1        3  prefiero no decirlo

          Comuna   Promedio                Rango_Edad
4082       Penco  97.333333  Mayor o igual de 25 años
6237     Hualpén  97.333333               Menor de 25
3795        Tomé  96.666667  Mayor o igual de 25 años
2743  Concepción  95.666667  Mayor o igual de 25 años
1662        Lota  95.333333  Mayor o igual de 25 años
...          ...        ...                       ...
1301        Tomé   6.000000               Menor de 25
9909   San Pedro   5.666667  Mayor o igual de 25 años
5688  Concepción   5.666667               Menor de 25
8450      Arauco   5.666667  Mayor o igual de 25 años
2999        Tomé   2.666667               Menor de 25

[10000 rows x 9 columns]


Seleccion de columnas:
       Estudiante_ID  Edad   Promedio
0                 1    21  63.333333
1                 2    28  39.666667
2                 3    22  65.000000
3                 4    20  38.333333
4                 5    20  42.666667
...             ...   ...        ...
9995           9996    22  48.000000
9996           9997    26  44.666667
9997           9998    18  29.666667
9998           9999    22  52.000000
9999          10000    26  25.000000

[10000 rows x 3 columns]

## Parte 6: Identificación de Datos Faltantes o Anómalos

- Revise si hay valores nulos en el DataFrame: ** Use isnull() para identificar columnas con valores faltantes.
- Identificar estudiantes con notas extremas: ** Encuentre estudiantes con notas menores a 10 en Matemáticas.

In [44]:
print("¿Dónde hay valores nulos?\n", df_3.isnull())
df_notas_extremas = df_3.query("Nota_Mat<10")
print(df_notas_extremas)

¿Dónde hay valores nulos?
       Estudiante_ID   Edad  Nota_Mat  Nota_Leng  Nota_CS  Genero  Comuna  \
0             False  False     False      False    False   False   False
1             False  False     False      False    False   False   False
2             False  False     False      False    False   False   False
3             False  False     False      False    False   False   False
4             False  False     False      False    False   False   False
...             ...    ...       ...        ...      ...     ...     ...
9995          False  False     False      False    False   False   False
9996          False  False     False      False    False   False   False
9997          False  False     False      False    False   False   False
9998          False  False     False      False    False   False   False
9999          False  False     False      False    False   False   False

      Promedio  Rango_Edad
0        False       False
1        False       False
2        False       False
3        False       False
4        False       False
...        ...         ...
9995     False       False
9996     False       False
9997     False       False
9998     False       False
9999     False       False

[10000 rows x 9 columns]
      Estudiante_ID  Edad  Nota_Mat  Nota_Leng  Nota_CS               Genero  \
15               16    22         4         64       78            masculino
39               40    22         1         26        7  prefiero no decirlo
60               61    25         7         10       76            masculino
80               81    26         8         17       50             femenino
88               89    26         9         29       60             femenino
...             ...   ...       ...        ...      ...                  ...
9941           9942    18         5         56       44             femenino
9957           9958    29         2         85       85  prefiero no decirlo
9971           9972    18         5         12       38            masculino
9977           9978    21         1         67       84             femenino
9984           9985    27         9         99        3             femenino

         Comuna   Promedio                Rango_Edad
15    San Pedro  48.666667               Menor de 25
39    San Pedro  11.333333               Menor de 25
60         Lota  31.000000  Mayor o igual de 25 años
80      Coronel  25.000000  Mayor o igual de 25 años
88        Penco  32.666667  Mayor o igual de 25 años
...         ...        ...                       ...
9941    Hualpén  35.000000               Menor de 25
9957    Hualpén  57.333333  Mayor o igual de 25 años
9971       Tomé  18.333333               Menor de 25
9977       Lota  50.666667               Menor de 25
9984  San Pedro  37.000000  Mayor o igual de 25 años

[895 rows x 9 columns]

## Parte 7: Tablas Pivot

Crear una tabla pivot para analizar los datos: ** Promedio de notas por comuna y género.

In [46]:
tabla_pivote_prom_x_com_y_gen = df_3.pivot_table(values=['Nota_Mat', 'Nota_Leng', 'Nota_CS'], index="Comuna",columns="Genero", aggfunc="mean")
print("\nTabla pivot con promedio x comuna y genero:\n",tabla_pivote_prom_x_com_y_gen)

Tabla pivot con promedio x comuna y genero:
               Nota_CS                                 Nota_Leng             \
Genero       femenino  masculino prefiero no decirlo   femenino  masculino
Comuna
Arauco      49.781407  51.834146           50.442060  51.560302  48.417073
Concepción  51.329571  51.084951           49.443936  48.866817  48.703883
Coronel     50.501285  50.164649           50.212500  50.874036  49.341404
Hualpén     49.423940  49.851675           49.445977  53.039900  48.818182
Lota        50.140665  50.311475           49.256906  50.902813  49.175644
Penco       51.919708  48.986111           51.487981  48.469586  50.317130
San Pedro   50.949881  51.481818           46.774194  48.031026  49.763636
Tomé        50.884091  50.396985           49.938497  51.815909  50.846734

                                 Nota_Mat
Genero     prefiero no decirlo   femenino  masculino prefiero no decirlo
Comuna
Arauco               48.896996  49.527638  52.414634           50.946352
Concepción           48.121281  49.948081  50.786408           48.798627
Coronel              50.352500  49.455013  50.813559           49.887500
Hualpén              51.800000  49.817955  49.889952           50.956322
Lota                 47.143646  48.636829  48.103044           51.301105
Penco                51.906250  47.861314  50.314815           52.853365
San Pedro            48.888337  51.926014  53.500000           49.704715
Tomé                 47.815490  52.572727  50.276382           52.744875

## Parte 8: Exportación de Datos

- Guarde los datos procesados: ** Exporte el DataFrame con las columnas adicionales (Promedio_Notas y Rango_Edad) en un archivo CSV.
- Exporte un subconjunto filtrado: ** Guarde en un archivo CSV los estudiantes con un promedio de notas mayor a 85.

In [53]:
#Guarde los datos procesados: ** Exporte el DataFrame con las columnas adicionales (Promedio_Notas y Rango_Edad) en un archivo CSV.
df_3.to_csv('../data/resultados_finales.csv', index=False)
#Exporte un subconjunto filtrado: ** Guarde en un archivo CSV los estudiantes con un promedio de notas mayor a 85.
df_notas_may_85 = df_3[df_3['Promedio'] > 85]
print()
df_notas_may_85.to_csv('../data/resultados_finales_sub.csv', index=False)